<%- include('partials/header') -%>

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
            <img src="https://media.api-sports.io/football/teams/<%= teamId %>.png" alt="Team Image" class="league-logo">
        

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><h1><%= teamName %></h1></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark my-search-input" placeholder="Search..." aria-label="Search">
        </form>

      </div>
    </div>
  </header>

  <div class="container mt-3">
  <table class="table table-dark table-striped table-bordered table-hover table-sortable">
    <thead>
      <tr>
        <th scope="col" class="col-1 clickable header-clickable sort-numeric">#</th>
        <th scope="col" class="col-1">Player</th>
        <th scope="col" class="col-5 clickable header-clickable" id="player-name">Name</th>
        <th scope="col" class="col-4 clickable header-clickable">Position</th>
        <th scope="col" class="col-1 clickable header-clickable sort-numeric">Age</th>

      </tr>
    </thead>
    <tbody>
    <% data['response'][0]['players'].forEach((player)=>{ %>
      <tr class="player-clickable clickable" id="55">
        <td class="to-filter"><%= player.number %></td>
        <td><img src="<%= player.photo %>" alt="Player Image" class="team-logo"></td>
        <td class="to-filter"><%= player.name %></td>
        <td class="to-filter"><%= player.position %></td>
        <td class="to-filter"><%= player.age %></td>
      </tr>
    <%}) %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') -%>